{
  "credentials": [
    {
      "path": "svc_xsoar",
      "data": {
        "svc_xsoar": "DemoP@ssw0rd123!"
      }
    },
    {
      "path": "svc_engine",
      "data": {
        "svc_engine": "EngineP@ss456!"
      }
    }
  ]
}
