{
  "credentials": [
    {
      "path": "svc_xsoar",
      "data": {
        "username": "svc_xsoar",
        "password": "DemoP@ssw0rd123!"
      }
    },
    {
      "path": "svc_engine",
      "data": {
        "username": "svc_engine",
        "password": "EngineP@ss456!"
      }
    }
  ]
}
